body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(121, 5, 121);
}

.calculator{
    background-color: yellow;
    padding: 20px;
    border-radius: 20px;
}

.screen{
    width: 224px;
    background-color: rgb(238, 231, 231);
    font-size: 40px;
    text-align: end;
    padding: 4px;
}

.buttons{
    width: 235px;
    display: flex;
    flex-wrap: wrap;
}

button{
    background-color: rgb(150, 50, 150);
    border: none;
    color: black;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 4px;
     text-shadow: 1px 2px 0px rgb(121, 5, 121),
    1px 5px 0px gray;
}

button:hover{
    background-color:royalblue;
}

button:active{
    background-color: red ;
}

#equals{
    background-color: orangered;
}
 
#equals:hover{
    background-color: green;
}

#equals:active{
    background-color: blue;
}

#clear{
    width: 100%;
    font-size: 30px;
    background-color: orangered;
}

#clear:hover{
    background-color: green;
}

#clear:active{
    background-color: blue;
}

